<% provide(:title, 'Home') %>
<div id="static_pages_home">
  <div id="slider">
    <div class="flicker-home">
      <ul>
        <li data-background="<%= asset_path('home-slider1.jpg') %>">
          <div class="flick-title">Connectivity</div>
          <div class="flick-sub-text">
            Become Part of a Cross-Network Super Alliance
          </div>
        </li>
        <li data-background="<%= asset_path('home-slider3.jpg') %>">
          <div class="flick-title">Quality</div>
          <div class="flick-sub-text">
            Seamless App-to-App Inter-operability
          </div>
        </li>
        <li data-background="<%= asset_path('home-slider2.jpg') %>">
          <div class="flick-title">Efficiency</div>
          <div class="flick-sub-text">
            State-of-the-Art Optimization
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="featurette col-md-12" id="sec5">
    <div class="container">
      <div class="row text-center">
        <h1>Read our successes</h1>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <div class="featurette-item">
            <a href="http://blog.tripthru.com/taxibeat-to-join-tripthru-on-demand-mobility-exchange-hub/">
              <%= image_tag('success-taxibeat.png', alt: 'TaxiBeat', id: 'success-taxibeat') %>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="featurette-item">
            <a href="http://blog.tripthru.com/gettaxi-promotes-solution-for-global-taxi-roaming/">
              <%= image_tag('success-gettaxi.png', alt: 'GetTaxi', id: 'success-gettaxi') %>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="featurette-item">
            <a href="http://blog.tripthru.com/lecab-to-join-tripthru-global-on-demand-ground-transportation-interoperability-hub/">
              <%= image_tag('success-lecab.png', alt: 'LeCab', id: 'success-lecab') %>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="featurette-item">
            <a href="http://blog.tripthru.com/easytaxi-and-tripthru-seek-to-solve-taxi-roaming-problem/">
              <%= image_tag('success-easytaxi.png', alt: 'EasyTaxi', id: 'success-easytaxi') %>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="featurette-item">
            <a href="http://blog.tripthru.com/hailo-to-light-the-way-with-global-roaming/">
              <%= image_tag('success-hailo.png', alt: 'Hailo', id: 'success-hailo') %>
            </a>
          </div>
        </div>
      </div>
      <div class="row" id="tripthru-stats">
        <div>51 Countries</div>
        <div>460 Cities</div>
        <div>31 million users</div>
        <div>476,000 drivers</div>
        <div>328,000 daily rides</div>
      </div>
    </div>
  </div>
  <div id="sec1" class="blurb bright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text">
          <h1>Cloud-based gateway for taxi and limousine app networks</h1>
          <p class="lead">Protect your customer base. Direct new customers to your fleet. Offer on-demand global access.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="featurette" id="sec2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>One-time integration</h1>
          <br/>
          <br/>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="featurette-item">
              <div class="col-md-3 image-wrapper">
                <%= image_tag('connected.png', alt: 'Get connected')%>
              </div>
              <div class="col-md-9 info">
                <h4>Seamless connectivity</h4>
                <p>Lets you automatically route ride requests from your dispatch system to your affiliates’ based on the parameters you set.  You decide when it should re-route -- for out of town requests, for example, or during periods of high demand.</p>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('neutral.png', alt: 'Neutral')%>
            </div>
            <div class="col-md-9 info">
              <h4>Neutral</h4>
              <p>The TripThru API is completely open.  TripThru is not a branch of any hardware or software vendor.  The TripThru gateway is designed to be equally accessible to all dispatch systems.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('analytics.png', alt: 'Data analytics')%>
            </div>
            <div class="col-md-9 info">
              <h4>Data Analytics</h4>
              <p>Easy-to-operate dashboard gives you actionable intelligence for your business.</p>
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="featurette-item">
              <div class="col-md-3 image-wrapper">
                <%= image_tag('ondemand.png', alt: 'On demand')%>
              </div>
              <div class="col-md-9 info">
                <h4>On-demand functionality</h4>
                <p>Requests are processed within seconds, either via smartphone app or web-based dispatch.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('forecasting.png', alt: 'On demand')%>
            </div>
            <div class="col-md-9 info">
              <h4>Forecasting</h4>
              <p>Timely forecasts based on the key metrics for your business help you respond quickly to opportunities or market shifts.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('customize.png', alt: 'Customizable')%>
            </div>
            <div class="col-md-9 info">
              <h4>Customizable</h4>
              <p>Every connection with the TripThru gateway is customizable.  Your company chooses where, when and how to re-route ride requests.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('target.png', alt: 'Location optimization')%>
            </div>
            <div class="col-md-9 info">
              <h4>Location Optimization</h4>
              <p>Put your drivers where the customers will be.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('app.png', alt: 'App')%>
            </div>
            <div class="col-md-9 info">
              <h4>For dispatch systems or apps</h4>
              <p>Use it either way, or both.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('routing.png', alt: 'Advanced routing')%>
            </div>
            <div class="col-md-9 info">
              <h4>Advanced Routing</h4>
              <p>Based on state-of-the-art mapping technology.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('log.png', alt: 'Advanced logging')%>
            </div>
            <div class="col-md-9 info">
              <h4>Advanced logging</h4>
              <p>Complete, fully-secured records of all steps in the referral sequence.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('no-fee.png', alt: 'No subscription fees')%>
            </div>
            <div class="col-md-9 info">
              <h4>No subscription fees</h4>
              <p>You have nothing to lose, because there is no subscription fee.  We have an open API and the integration is free.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('cloud.png', alt: 'No hardware of software required')%>
            </div>
            <div class="col-md-9 info">
              <h4>No hardware or software required</h4>
              <p>Everything is in the cloud.   All you need is internet access.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featurette-item">
            <div class="col-md-3 image-wrapper">
              <%= image_tag('invisible.png', alt: 'Invisible')%>
            </div>
            <div class="col-md-9 info">
              <h4>Invisible</h4>
              <p>TripThru is a back-office tool.  We have no brand-identity with riders.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="featurette" id="sec4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center v-center">
          <h1>Contact us for more information</h1>
          <br/>
          <br/>
          <br/>
          <%= form_tag(signup_path, method: 'post', class: 'col-lg-12') do %>
            <div class="input-group input-group-lg col-sm-offset-2 col-sm-8">
                  <%= text_field_tag 'email', nil, class: 'center-block form-control input-lg',
                                     placeholder: 'E-mail' %>
                  <span class="input-group-btn">
                    <%= button_tag 'Send', class: 'btn btn-lg btn-primary' %>
                  </span>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>