<% provide(:title, 'Home') %>
<div id="static_pages_home">
  <div class="flicker-example">
    <ul>
      <li data-background="<%= asset_path('home-slider1.jpg') %>">
        <div class="flick-title">Connectivity</div>
        <div class="flick-sub-text">
          Operator-to-Operator
        </div>
        <div class="flick-sub-text">
          Expand your affiliate network without having to do multiple integrations. With TripThru, you can add affiliates from different networks all through one integration.
        </div>
        <div class="flick-sub-text">
          App-to-App
        </div>
        <div class="flick-sub-text">
          TripThru works app-to-app, giving your company on-demand, global reach. It runs totally in the background. Your customers will never know it’s there.        </div>
        <div class="flick-sub-text">
          Network-to-Network
        </div>
        <div class="flick-sub-text">
          When you integrate with TripThru, you are no longer confined to a single network. By connecting to multiple networks at one time, you build flexibility into your business model.        </div>
      </li>
      <li data-background="<%= asset_path('home-slider2.jpg') %>">
        <div class="flick-title">Quality</div>
        <div class="flick-sub-text">Easy-to-access data helps you treat your customers as individuals, and boost customer satisfaction.

          Retailers who track customers’ preferences and purchases have dramatically improved customer loyalty and increased their profits by almost 30%.</div>
      </li>
      <li data-background="<%= asset_path('home-slider3.jpg') %>">
        <div class="flick-title">Efficiency</div>
        <div class="flick-sub-text">Data analytics lets you see at a glance all the key metrics for your business, both historical and forecasted. You get actionable information for today, and see trends for tomorrow.</div>
      </li>
    </ul>
  </div>
    <div id="sec1" class="blurb bright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Cloud-based gateway for taxi and limousine fleets</h1>
            <p class="lead">Protect your customer base. Direct new customers to your fleet. Offer on-demand global access.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="featurette" id="sec2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>One-time integration</h1>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="featurette-item">
              <%= image_tag('connected.png', alt: 'Get connected')%>
              <h4>Get connected</h4>
              <p>With only one integration, you are able to route calls to all other fleets connected to the TripThru gateway.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="featurette-item">
              <%= image_tag('globe2.png', alt: 'Global')%>
              <h4>Global access</h4>
              <p>Connect with fleets in America and internationally, regardless of the dispatch system they run on.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="featurette-item">
              <%= image_tag('taxi.png', alt: 'Provider')%>
              <h4>Licensed providers</h4>
              <p>Connect your customers to licensed service providers wherever they are from their primary home city app.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="featurette" id="sec4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center v-center">
            <h1>Sign-up for early access</h1>
            <br/>
            <br/>
            <br/>
            <%= form_tag(signup_path, method: 'post', class: 'col-lg-12') do %>
              <div class="input-group input-group-lg col-sm-offset-2 col-sm-8">
                    <%= text_field_tag 'email', nil, class: 'center-block form-control input-lg',
                                       placeholder: 'E-mail' %>
                    <span class="input-group-btn">
                      <%= button_tag 'Send', class: 'btn btn-lg btn-primary' %>
                    </span>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
</div>