<div id="users">
  <div class="page-header">
    <h3>Accounts</h3>
  </div>
  <div class="container">
      <div class="panel panel-default col-md-12">
        <div class="panel-body col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th class="success">Id</th>
                <th class="success">User Name</th>
                <th class="success">Email</th>
                <th class="success">AccessToken</th>
                <th class="success">RefreshToken</th>
                <th class="success">PartnerName</th>
                <th class="success">CallbackUrl</th>
                <th class="success">TripThruAccessToken</th>
                <th class="success">Role</th>
                <th class="danger">Options</th>
                <th class="danger"></th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.id %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.UserName %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.Email %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.AccessToken.truncate(10) %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.RefreshToken.truncate(10) %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.PartnerName %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.CallbackUrl %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.TripThruAccessToken %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)"><%= user.Role %></td>
                    <td class="active" onclick="loadPage(<%= user.id %>)">Edit</td>
                    <td class="active"><%= link_to 'Delete', users_destroy_path(@user, :id => user.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
                  <br/>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container">
          <button id="new-user-button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="loadPageNew()">
            Add New User
          </button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h2 class="modal-title" id="myModalLabel" align="center">Add New User</h2>
                </div>
                <div class="modal-body">
                  <div id="contenthere"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script type="text/javascript">
    function loadPageNew() {
        $("#contenthere").load('<%= users_new_path %>');
    }
    function loadPage(id) {
        url = "<%= users_edit_path%>" + "?id=" + id;
        $("#contenthere").load(url);
        $("#myModal").modal("show");
    }
</script>