<div id="statistics">

  <div id="chart-container" class="container">
    <div class="row">
      <div id="filters-container">
        <div id="chart-type-toggle-container">
          <a id="toggle-button" href="#">
            <i class="icon-home icon-1x"></i>
            <div class="image-wrapper">
              <%= image_tag('statistics.png', alt: 'Time series', :id => 'statistics-toggle') %>
              <%= image_tag('map.png', alt: 'Heat map', :id => 'heatmap-toggle', style: 'display: none;') %>
            </div>
          </a>
        </div>
        <div id="historic-toggle-container">
          <a id="toggle-button" href="#">
            <i class="icon-home icon-1x"></i>
            <div class="image-wrapper">
              <%= image_tag('historic.png', alt: 'Historic data', :id => 'historic-toggle') %>
              <%= image_tag('forecast.png', alt: 'Forecast data', :id => 'forecast-toggle', style: 'display: none;') %>
            </div>
          </a>
        </div>
        <div id="data-mode-toggle-container">
          <a id="toggle-button" href="#">
            <i class="icon-home icon-1x"></i>
            <div class="image-wrapper">
              <%= image_tag('percentage.png', alt: 'Percentage display', :id => 'percentage-toggle') %>
            </div>
          </a>
        </div>
        <div class="panel panel-default filter-button-group">
          <div class="panel-heading text-center ">
            <h3 class="panel-title">Trips</h3>
          </div>
          <div class="panel-body">
            <input type="submit" class="filter-button" id="trips-arrival-filter-button" value="Arrivals"/>
            <input type="submit" class="filter-button" id="trips-completed-filter-button" value="Completed"/>
            <input type="submit" class="filter-button" id="trips-rejected-filter-button" value="Rejected"/>
            <input type="submit" class="filter-button" id="trips-cancelled-filter-button" value="Cancelled"/>
            <input type="submit" class="filter-button" id="trips-error-filter-button" value="Error"/>
          </div>
        </div>
        <div class="panel panel-default filter-button-group">
          <div class="panel-heading text-center ">
            <h3 class="panel-title">Time</h3>
          </div>
          <div class="panel-body">
            <input type="submit" class="filter-button" id="time-enroute-filter-button" value="Enroute"/>
            <input type="submit" class="filter-button" id="time-idle-filter-button" value="Idle"/>
            <input type="submit" class="filter-button" id="time-occupied-filter-button" value="Occupied"/>
          </div>
        </div>
        <div class="panel panel-default filter-button-group">
          <div class="panel-heading text-center ">
            <h3 class="panel-title">Mileage</h3>
          </div>
          <div class="panel-body">
            <input type="submit" class="filter-button" id="mileage-enroute-filter-button" value="Enroute"/>
            <input type="submit" class="filter-button" id="mileage-occupied-filter-button" value="Occupied"/>
          </div>
        </div>
        <div class="panel panel-default filter-button-group">
          <div class="panel-heading text-center ">
            <h3 class="panel-title">Service level</h3>
          </div>
          <div class="panel-body">
            <input type="submit" class="filter-button" id="service-goal-filter-button" value="In service"/>
            <input type="submit" class="filter-button" id="service-lateness-filter-button" value="Out service"/>
          </div>
        </div>
        <div class="panel panel-default filter-button-group">
          <div class="panel-heading text-center ">
            <h3 class="panel-title">Ratings</h3>
          </div>
          <div class="panel-body">
            <input type="submit" class="filter-button" id="ratings-passengers-filter-button" value="Passenger"/>
            <input type="submit" class="filter-button" id="ratings-drivers-filter-button" value="Driver"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div id="chart-title" class="col-md-9 col-md-push-0 col-sm-10 col-sm-push-2 col-xs-10 col-xs-push-2">
          <h2>Historic</h2>
          <a href="#">
            <i class="icon-home icon-1x"></i>
            <div class="image-wrapper pull-right">
              <%= image_tag('upload.png', alt: 'Load data') %>
            </div>
          </a>
        </div>
        <br/>
        <div id="time-series-container" class="col-md-9 col-md-push-0 col-sm-10 col-sm-push-2 col-xs-10 col-xs-push-2">
          <div id="historic-chart-container">
              <div id="historic-chart"></div>
          </div>
          <div id="forecast-chart-container">
              <div id="forecast-chart"></div>
          </div>
        </div>
        <div id="map-container" style="display: none" class="col-md-9 col-md-push-0 col-sm-10 col-sm-push-2 col-xs-10 col-xs-push-2">
            <div id="heat-map" class="tracking-map"></div>
        </div>

        <div id="selectors-container" class="col-md-2 col-md-pull-0 col-sm-2 col-sm-pull-10 col-xs-2 col-xs-pull-10">
          <div id="realtime-intervals-container">
            <input type="submit" id="seconds-button" value="S"/>
            <input type="submit" id="minutes-button" value="M"/>
            <input type="submit" id="hours-button" value="H"/>
            <input type="submit" id="days-button" value="D"/>
            <input type="submit" id="weeks-button" value="W"/>
          </div>
          <input type="submit" id="realtime-button" value="Real-time"/>
          <div class="input-daterange input-group" id="datepicker">
            <input type="text" class="input-sm form-control" id="start-date" name="start"/>
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" id="end-date" name="end"/>
          </div>
            <div id="network-select-container">
                <div class="panel panel-default filter-button-group">
                  <div class="panel-heading text-center ">
                    <h3 class="panel-title">Network</h3>
                  </div>
                  <div class="panel-body">
                      <select id="networks-select" multiple="multiple">
                        <option value="All" selected="selected">All</option>
                      </select>
                  </div>
                </div>
            </div>
          <div id="fleet-select-container">
            <div class="panel panel-default filter-button-group">
              <div class="panel-heading text-center ">
                <h3 class="panel-title">Fleet</h3>
              </div>
              <div class="panel-body">
                <select id="fleets-select" multiple="multiple">
                  <option value="All" selected="selected">All</option>
                </select>
              </div>
            </div>
          </div>
          <div id="driver-select-container">
            <div class="panel panel-default filter-button-group">
              <div class="panel-heading text-center ">
                <h3 class="panel-title">Driver</h3>
              </div>
              <div class="panel-body">
                <select id="drivers-select" multiple="multiple">
                  <option value="All" selected="selected">All</option>
                </select>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>