<div id="users">
  <div class="container">
    <div class="row">
      <div class="panel panel-default col-md-12">
        <div class="panel-body col-md-12">
        </div>
       </div>
    </div>
    <div class="row">
      <div class="panel panel-default col-md-12">
        <div class="panel-body col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th class="success">Client id</th>
                <th class="success">Name</th>
                <th class="success">Email</th>
                <th class="success">Token</th>
                <th class="success">Role</th>
                <th class="danger">Options</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td class="active" onclick="loadPage('<%= user.id %>')"><%= user.client_id %></td>
                    <td class="active" onclick="loadPage('<%= user.id %>')"><%= user.name %></td>
                    <td class="active" onclick="loadPage('<%= user.id %>')"><%= user.email %></td>
                    <td class="active" onclick="loadPage('<%= user.id %>')"><%= user.token.truncate(30) %></td>
                    <td class="active" onclick="loadPage('<%= user.id %>')"><%= user.role %></td>
                    <td class="active"><%= link_to 'Delete', settings_destroy_path(@user, :id => user.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container">
          <button id="new-user-button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="loadPageNew()">
            Add New User
          </button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h2 id="headerText" class="modal-title" id="myModalLabel" align="center"></h2>
                </div>
                <div class="modal-body">
                  <div id="contenthere"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="access_token" value="<%= userAccessToken %>"/>
<script type="text/javascript">
    function loadPageNew() {
        $('#headerText').html('Add New User');
        $("#contenthere").load('<%= settings_new_path %>');
    }
    function loadPage(id) {
        $('#headerText').html('Edit User');
        url = "<%= settings_edit_path%>" + "?id=" + id;
        $("#contenthere").load(url);
        $("#myModal").modal("show");
    }
</script>